
/* .navbar */
.logo-img{
    height: 70px;
    width: 70px;
    content: url(images/coins-logo.png);
}

.toggle-icon{
    content: url(images/menu.png) !important; 
    height: 30px;
    width: 30px;
}

.logo-img-small{
    height: 50px;
    width: 50px;
    content: url(images/coins-logo.png);
}

/* Images */
.planejamento-img1{
    content: url(images/planejamento.jpg);
}

.planejamento-img2{
    content: url(images/fundos-imobiliarios.jpg);
}

.planejamento-img3{
    content: url(images/fundos-investimento.jpg);
}

.planejamento-img4{
    content: url(images/titulos-publicos.jpg);
}

.img-default-size{
    min-width: 269px;
    min-height: 180px;
    width: 100%;
    max-height: 280px;
    object-fit:cover;
}

.sponsor-1{
    content: url(images/partners/appia-capital.jpg);
}
.sponsor-2{
    content: url(images/partners/atico.jpg);
}

.sponsor-3{
    content: url(images/partners/bbm-investimentos.jpg);
}

.sponsor-4{
    content: url(images/partners/btgpactual.jpg);
}

.sponsor-5{
    content: url(images/partners/canvas-capital.jpg);
}

.sponsor-6{
    content: url(images/partners/claritas.jpg);
}

.sponsor-7{
    content: url(images/partners/deutsche-bank.jpg);
}

.sponsor-8{
    content: url(images/partners/franklin-templeton-investments.jpg);
}

.sponsor-9{
    content: url(images/partners/jpmorgan.jpg);
}

.sponsor-10{
    content: url(images/partners/parceiro-sulamerica.jpg);
}

.sponsor-11{
    content: url(images/partners/patrimonial.jpg);
}

.sponsor-12{
    content: url(images/partners/votorantim.jpg);
}

.face-icon{
    content: url(images/facebook.png);
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    filter: invert();
}

.insta-icon{
    content: url(images/instagram.png);
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    filter: invert();
}

.relative-element{
    position: relative;
    bottom: 30px;
}

.small-rounded-btn{
    padding: 8px;  
    border-radius: 50%;
    border: none;
}

.diagnostico-img{
    content: url(images/bar-chart.png);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 10px solid #f77f00;
    padding: 6px;
}

.diagnostico-img:hover, .seguranca-financeira-img:hover,
.rentabilidade-img:hover{
    border: 10px solid #d62828;
}

.seguranca-financeira-img{
    content: url(images/light-bulb.png);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 10px solid #f77f00;
    padding: 6px;
}

.rentabilidade-img{
    content: url(images/profit.png);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 10px solid #f77f00;
    padding: 6px;
}


button.small-rounded-btn{
    background-color: #f77f00;
}

.know-more-btn{
    border-top-left-radius: 8px;
    border: none;
    background-color: #f77f00;
    padding: .3rem .6rem;
    color: #eae2b7;
    max-width: 110px;
}

.max-card-height{
    max-height: 180px;
}

.max-text-height{
    max-height: 86px;
}

.overfow-hidden{
    overflow: hidden;
}

.default-card-height{
    height: 200px;
    overflow: hidden;
}

.quotation-text::before, .quotation-text::after{
    content: '"';
    font-size: 40px;
}

p.quotation-text{
    font-size: 24px;
    font-style: italic;
    line-height: 1;
    opacity: 0.8;
}
.small-img-footer{
    width:100px;
    height: auto;
    object-fit: contain;
}

/******************************** OVERRIDES **************************/

/*

Paleta de cores 
#003049  - escuro
#d62828  - vermelho
#f77f00  - laranja
#fcbf49  - amarelo
#eae2b7  - bege

*/

/******************************* TEXT COLORS ********************************************/

.text-primary{
    color: #fcbf49 !important;
}

.text-secondary{
    color: #003049 !important;
}


.text-success{
    color: white !important;
}

.text-danger{
    color: #d62828 !important;
}



/******************************BACKGROUND COLORS ************************************/
.bg-primary{
    background: rgb(247,127,0);
    background: linear-gradient(90deg, rgba(247,127,0,1) 0%, rgba(234,226,183,1) 100%);
}

.bg-secondary{
    background-color:#003049 !important;
}

.bg-info{
    background-color: #eae2b7 !important;
}

.bg-danger{
    background-color: #d62828 !important;
}

.bg-warning{
    background-color: #f77f00 !important;
}

.bg-success{
    background-color: #3b3b39 !important;
}

/********************** BORDER COLORS *******************************/

.border-primary{
    border-color: #f77f00 !important;
}

/********************** ESPECIFICIDADE *****************************/

p, a{
    font-size: 1.1rem;
}

a, p, h1, h2, h3, h4, h5, h6{
    color: #003049 !important;
}

footer p, footer h2, footer h3, footer h4, footer h5{
    color: white !important;
}

footer a{
    color: #f77f00 !important;
}

section.relative-element p{
    color: rgb(255, 255, 255) !important;
}

a.navbar-brand{
    font-family: 'Arima Madurai', cursive !important;
    font-size: 28px;
}

.brand-text-footer{
    font-family: 'Arima Madurai', cursive !important;
    font-size: 20px;
}

a, p{
    font-family: 'PT Serif', serif;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5{
    font-family: 'Arima Madurai', cursive !important;
}

section ul{
    list-style: none;
    padding-left: 0;
}

body{
   margin-bottom: -1rem;
}